.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #285D41 , #2d704d);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.logo {
    width: 150px;
    height: auto;
}


/*Animation*/

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.logo {
    width: 150px;
    height: auto;
    animation: zoomIn 2s ease-out;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

