.scrolling-wrapper {
  overflow-x: auto;
}

.card-block {
  height: 225px;
  width: 250px;
  background-color: #fff;
  border: none;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out !important;
  border-radius: 24px;
  &:hover {
    transform: translateY(-5px);
    box-shadow: none;
    opacity: 0.9;
  }
}

.card-1 {
  background-image: url(../../public/Dishes/sandwich.jpg);
}

.card-2 {
  background-image: url(../../public/Dishes/tandooriChicken.jpg);
}

.card-3 {
  background-image: url(../../public/Dishes/shakes.jpg);
}

.card-4 {
  background-image: url(../../public/Dishes/roll.jpg);
}

.card-5 {
  background-image: url(../../public/Dishes/ChholeSamose.webp);
}

.card-6 {
  background-image: url(../../public/Dishes/noodles.jpg);
}

.card-7 {
  background-image: url(../../public/Dishes/burger.jpg);
}

.card-8 {
  background-image: url(../../public/Dishes/friedRice.jpg);
}

.card-9 {
  background-image: url(../../public/Dishes/omelette.jpg);
}

.card-10 {
  background-image: url(../../public/Dishes/vegThali.avif);
}
