section {
    background-image: url(../../public/authMainBg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#SignInCard {
    position: relative;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: .2s;
    overflow: hidden;
}


#SignInCard:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#SignInBtn {
    background-color: #462B9C;
    color: white;
}

